KERNEL=="ttyUSB*", MODE="0666", OWNER="root", GROUP="dialout"
KERNEL=="ttyUSB*", ATTRS{bInterfaceNumber}=="03", SYMLINK+="ttyUSB_V"
KERNEL=="ttyUSB*", ATTRS{bInterfaceNumber}=="04", SYMLINK+="ttyUSB_D"

